* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrap {
    height: 100vh;
}
header {
    height: 5%;
    background-color: blue;
    padding: 5px;
}

.tasti { 
    margin: auto;
    width: 1170px;
    display: flex;
    height: 60%;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.cambio {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    
}
.ridimensione {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;  
}

.blocchi {
    padding-right: 5px;
}

.container {
    margin: auto;
    width: 1170px;
    background-color: yellow;
}

.images {
    max-width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.image {
    position: relative;
    width: calc(100% / 7);
    padding: 10px;
}

.image img {
    width: 100%;
}

.Nominativo {
    position: absolute;
    left: 10px;
    bottom: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

footer {
    background-color: rgb(39, 39, 39);
    height: 5%;
}