* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapp {
    height: 100vh;
}

header {
    height: 50px;
    background-color: blue;
    padding: 5px;
}

.tasti { 
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.cambio {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    
}
.ridimensione {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;  
}

.blocchi {
    padding-right: 5px;
}

.container {
    margin: auto;
    width: 100%;
    background-color: yellow;
}

.images {
    max-width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.image {
    position: relative;
    width: 235px;
    padding: 10px 10px;
    
}

.image img {
    width: 100%;
}

.Nominativo {
    position: absolute;
    left: 0x;
    bottom: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

footer {
    background-color: rgb(39, 39, 39);
    height: 100%;
}

.footer_icons {
    display: flex;
    
}

.icona {
    font-size: 30px;
    color: white;
    align-items: center;
    display: flex;
    margin-left: 10px;
    
}

.testina {
    margin: 20px;
}

.microfono, .webcam {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.desc {
    padding-top: 5px;
    font-size: 14px;
}