* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

header {
    height: 50px;
    padding: 10px;
}

.tasti { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.cambio {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    
}
.ridimensione {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;  
}

.blocchi {
    padding-right: 5px;
}

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}
.container {
    margin: 0 auto;
    width: 100%;
}

.images {
    max-width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.image {
    position: relative;
    width: 235px;
    padding: 10px 10px;
    
}

.image img {
    width: 100%;
}

.Nominativo {
    position: absolute;
    left: 0x;
    bottom: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

footer {
    background-color: rgb(39, 39, 39);
    height: 70px;
}

.footer_icons {
    display: flex;
    max-height: 65px;
    
}

.icona {
    font-size: 20px;
    color: white;
    align-items: center;
    display: flex;
    margin-left: 10px;
    
}

.testina {
    margin: 20px;
}

.tipo_icona {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5px;
}

.desc {
    padding-top: 5px;
    font-size: 12px;
}

.parte_centro {
    display: flex;
    justify-content: center;
    width: 60%;
}

.parte_sinistra{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.parte_destra{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.grigio {
    height: 70px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    display: flex;
}

.quit {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: red;
}

.green {
    color: lime;
}